assistencia_server/services/assistencia.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns:tns="http://localhost/assistencia_server/services/assistenciaSOAP.php" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
             xmlns="http://schemas.xmlsoap.org/wsdl/" 
             targetNamespace="http://localhost/assistencia_server/services/assistenciaSOAP.php">

<types>
<xsd:schema targetNamespace="http://localhost/assistencia_server/services/assistenciaSOAP.php">
<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
<xsd:complexType name="dadosSecType">
<xsd:sequence>
	<xsd:element name="username" type="xsd:string"/>
	<xsd:element name="password" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
	<xsd:element name="security" type="tns:dadosSecType"/>
</xsd:schema>
</types>

<message name="security">
	<part name="sec" element="tns:security"/>
</message>

<message name="assistenciasRequest"/>
<message name="assistenciasResponse">
	<part name="retorno" type="xsi:string"/>
</message>
 
<portType name="portType1">

	<operation name="assistencias">
	
		<documentation>Buscar todas as assistencias tecnicas</documentation>
		
		<input message="assistenciasRequest"/>
		
		<output message="assistenciasResponse"/>
	</operation>
	
</portType>

<binding name="binding1" type="tns:portType1">

	<soap:binding style="document" 
    transport="http://schemas.xmlsoap.org/soap/http"/>
	
	<operation name="assistencias">
		<soap:operation soapAction="http://localhost/assistencia_server/services/assistenciaSOAP.php/assistencias" style="rpc"/>
		<input>
			<soap:body use="encode" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistencia_server"/>
			<soap:header use="literal" message="tns:security" namespace="assistencia_server" part="sec"/>
		</input>
		
		<output>
			<soap:body use="encode" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistencia_server"/>
		</output>
	</operation>

</binding>
<service name="assistenciaSOAP">
	<port name="tns:portType1" binding="tns:binding1">
		<soap:address location="http://localhost/assistencia_server/services/assistenciaSOAP.php"/>
	</port>
</service>
</definitions>